html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
/* Стили для текста */
:root {
  --accent-color: #34547A;
  --gray-color: #727272;
  --white-color: #fff;
  --background-color: #EEEFF1;
}
.text_h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #000;
}
.text__h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 21px;
}
.text_p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray-color);
}
/* Header_menu */
.header {
  max-height: 700px;
  background-color: var(--background-color);
}
.menu {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-family: "Revalia";
  font-size: 48px;
  color: var(--accent-color);
  text-transform: uppercase;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 50px 22px 0px 29px;
}
.nav__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 42px;
}
.nav__menu:last-child {
  margin-right: 0;
}
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
}
.burger span {
  width: 25px;
  height: 3px;
  background: var(--accent-color);
  margin: 3px 0;
  transition: 0.3s;
}
.nav_menu_li {
  font-size: 16px;
  letter-spacing: 0.10em;
  margin-right: 0px;
}
.nav_menu_item {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.nav_menu_item:hover {
  color: var(--accent-color);
}
/* Header_title */
.header_title {
  display: flex;
  justify-content: space-between;
}
.header_img {
  width: 357px;
  height: 233px;
  margin-top: 162px;
  margin-left: 109px;
}
.header_title_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 140px;
  padding-right: 13px;
}
.title_h1 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 46px;
}
.text_p {
  max-width: 540px;
}
.header_btn {
  border: none;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 23px 42px;
  margin-top: 50px;
  margin-bottom: 145px;
  cursor: pointer;
}
/* About */
.about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 121px 0 95px 13px;
}
.about_p {
  max-width: 516px;
  text-align: center;
  margin-top: 39px;
}
/* Project */
.numbers {
  background-color: var(--accent-color);
}
.numbers_items {
  margin-left: 28px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 95px 0 95px;
}
.number_item_flex {
  display: flex;
  align-items: flex-start;
}
.number_item {
  color: #fff;
  margin-left: 20px;
}
.number {
  padding-top: 4px;
}
.item_p {
  color: #fff;
  margin-top: 2px;
}
/* Skills */
.container_skills_flex {
  display: flex;
  justify-content: space-between;
  padding-top: 102px;
  margin-bottom: 100px;
}
.skills_progress_bar {
  margin-left: 9px;
}
.title_skill_h2 {
  margin-top: 102px;
  margin-bottom: 40px;
}
.skill_progress {
  margin-top: 27px;
}
.skill_progress:first-child {
  margin: 0;
}
.text_skill_p {
  margin-bottom: 13px;
}
.progress_bar {
  display: flex;
  width: 445px;
  height: 4px;
  background-color: #999;
}
.progress-bar-completed {
  background-color: #34547A;
}
.skill_foto {
  width: 555px;
  height: 450px;  
}
/* Video */
video {
  cursor: pointer;
}
.video {
  background: var(--background-color);
}
.video_flex_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 47px;
  margin-left: 11px;
}
.video_flex {
  padding: 102px 0;
}
.title_video_h2 {
  margin-bottom: 40px;
}
.text_video_p {
    max-width: 510px;
    text-align: center;
    letter-spacing: 0.025em;
}
.video_img {
  margin-left: 28px;
}
/* Portfolio_project */
.project_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  justify-items: center;
  padding-top: 22px;
}
.card_img {
  display: block;
  z-index: -1;
  max-width: 100%;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card-view-icon {
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: 0.5s ease;
}
.card-filter {
  position: absolute;
  background-color: #34547A;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: 0.5s ease;
}
.card:hover .card-view-icon {
  opacity: 1;
}
.card:hover .card-filter {
  opacity: 0.8;
}
.card_1:hover .card-view-icon {
  opacity: 1;
}
.card_1:hover .card-filter {
  opacity: 0.8;
}
/* Client */
.clients_flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 72px;
  margin-bottom: 100px;
}
.client_logo {
  width: 255px;
  height: 120px;
}
/* Form */
.form {
  background-color: var(--background-color);
}
.form_flex_content {
  padding: 107px 0 100px 0;
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
}
.title_form_h2 {
  margin-bottom: 40px;
  text-align: center;
  margin-top: -8px;
  margin-bottom: 40px;
}
.text_form_p {
    text-align: center;
    line-height: 26px;
    margin-bottom: 57px;
}
.form input, .form textarea, .form button {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 23px;
}
.form_inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.form_inner input {
  width: 255px;
  height: 50px;
  padding: 18px 20px;
}
.form textarea {
  max-width: 540px;
  width: 100%;
  height: 175px;
  resize: none;
  padding: 16px 20px;
  margin-bottom: 47px;
}
.form button {
  background-color: var(--accent-color);
  letter-spacing: 0.15em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  width: 190px;
  height: 56px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: 0.5s all;
}
.form button:hover {
  opacity: 0.8;
}
.footer {
  background-color: var(--accent-color);
}
.footer_flex {
  padding: 49px 3px 50px 20px;
  display: flex;
  justify-content: space-between;
}
.footer_h3 {
  color: #fff;
  font-size: 21px;
  margin-bottom: 11px;
}
.footer_p {
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.02em;
}
.footer_icon {
  display: flex;
  padding-top: 8px;
}
.footer_icon a {
  margin-left: 21px;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .header_img {
  margin-left: 50px;
  margin-right: 30px;
}
.numbers_items {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    justify-items: center;
    padding: 90px 0 90px;
}
.container_skills_flex {
  padding-left: 15px;
  padding-right: 15px;
}
.project_grid {
  grid-template-columns: repeat(2, 1fr);
}
.footer_flex {
  padding: 50px 20px;
}
}

@media only screen and (max-width: 992px) {
  .header_title {
    flex-direction: column;
    align-items: center;
}
  .header_img {
  margin: 90px 0 70px;
}
.header_title_content {
    align-items: center;
    margin-top: 0px;
}
.header {
  max-height: 900px;
}
.header_btn {
  margin-bottom: 90px;
}
.about_me {
  padding-top: 90px;
}
.container_skills_flex {
flex-direction: column-reverse;
align-items: center
}
.video_img {
  margin-left: 0px;
  width: 100%;
  padding: 0 15px;
}
}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
  }
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: white;
    flex-direction: column;
    padding: 80px 20px 20px;
    box-shadow: -2px 0 10px rgba(0,0,0,0.1);
    transition: right 0.8s ease;
  }
  .nav__menu.active {
    right: 0;
  }
  /* Анимация бургера при активации */
  .burger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .burger.active span:nth-child(2) {
    opacity: 0;
  }
  .burger.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .title_h1 {
    text-align: center;
  }
  .header_title_content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .text_p {
    text-align: center;
  }
  .about_me {
    padding: 70px 15px;
  }
  .about_p {
    padding: 0;
  }
  .numbers_items {
    grid-template-columns: repeat(2, 1fr);
  }
  .container_skills_flex {
    margin-bottom: 70px;
  }
  .title_skill_h2 {
    text-align: center;
  }
  .progress_bar {
    width: 30vh;
  }
  .title_skill_h2 {
    margin-top: 70px;
  }
  .skill_foto {
  width: 100%;
  height: 50%;
}
.video_flex {
  padding: 70 0px;
}
.project_grid {
  grid-template-columns: repeat(1, 1fr);
}
.clients_flex {
  margin-bottom: 70px;
}
.form_flex_content {
  padding: 70px 15px;
}
.form_inner {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 18px;
}
.form_inner input {
  width: 100%;
  height: 50px;
  padding: 18px 20px;
}
}
@media screen and (max-width: 380px) {
  .header {
    max-height: 1000px;
  }
  .numbers_items {
    grid-template-columns: repeat(1, 1fr); 
}
.progress_bar {
  width: 280px;
}
}
