html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
/* Стили для текста */
:root {
  --accent-color: #34547A;
  --gray-color: #727272;
  --white-color: #fff;
  --background-color: #EEEFF1;
}
.text_h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #000;
}
.text__h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 21px;
}
.text_p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: var(--gray-color);
}
/* Header_menu */
.header {
  max-height: 700px;
  background-color: var(--background-color);
}
.menu {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-family: "Revalia";
  font-size: 48px;
  color: var(--accent-color);
  text-transform: uppercase;
  padding-top: 50px;
  padding-left: 20px;
}
.nav_menu {
  font-size: 16px;
  letter-spacing: 0.10em;
  margin-right: 42px;
}
.nav_menu:last-child {
  margin-right: 30px;
}
.nav_menu_side {
  display: flex;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding-top: 72px;
}
.nav_menu_item {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.nav_menu_item:hover {
  color: var(--accent-color);
}
/* Header_title */
.header_title {
  display: flex;
}
.header_img {
  width: 357px;
  height: 233px;
  margin-top: 163px;
  margin-left: 102px;
}
.header_title_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 140px;
  margin-left: 130px;
}
.title_h1 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 46px;
}
.text_p {
  max-width: 540px;
}
.header_btn {
  border: none;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 23px 42px;
  margin-top: 56px;
  margin-bottom: 145px;
}
/* About */
.about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 117px;
}
.about_p {
  max-width: 516px;
  text-align: center;
  margin-top: 39px;
  padding-bottom: 95px;
}
/* Project */
.numbers {
  background-color: var(--accent-color);
}
.numbers_items {
  width: 1110px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  padding: 100px 0 95px;
}
.number_item_flex {
  display: flex;
  align-items: flex-start;
}
.number_item {
  color: #fff;
  margin-left: 20px;
}
.number {
  padding-top: 4px;
}
.item_p {
  color: #fff;
}
/* Skills */
.container_skills_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 150px;
  padding-top: 102px;
  margin-bottom: 100px;
}
.title_skill_h2 {
  margin-top: 104px;
  margin-bottom: 40px;
}
.skill_progress {
  margin-top: 27px;
}
.skill_progress:first-child {
  margin: 0;
}
.text_skill_p {
  margin-bottom: 13px;
}
.progress_bar {
  display: flex;
  width: 445px;
  height: 4px;
  background-color: #999;
}
.progress-bar-completed {
  background-color: #34547A;
}
.skill_foto {
  width: 555px;
  height: 450px;  
}
/* Video */
video {
  cursor: pointer;
}
.video {
  background: var(--background-color);
}
.video_flex_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.video_flex {
  padding: 103px 0;
}
.title_video_h2 {
  margin-bottom: 40px;
}
.text_video_p {
    max-width: 510px;
    text-align: center;
    letter-spacing: 0.025em;
}
.video_img {
  margin-left: 22px;
}
/* Portfolio_project */
.project_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  justify-items: center;
  padding-top: 22px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 480px;
  background-image: url(../img/card.png);
  background-size: cover;
  position: relative;
}
.card_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 480px;
  background-image: url(../img/card_1.png);
  background-size: cover;
  position: relative;
}
.card-view-icon {
  z-index: 2;
  opacity: 0;
  transition: 0.5s ease;
}
.card-filter {
  position: absolute;
  background-color: #34547A;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: 0.5s ease;
}
.card:hover .card-view-icon {
  opacity: 1;
}
.card:hover .card-filter {
  opacity: 0.8;
}
.card_1:hover .card-view-icon {
  opacity: 1;
}
.card_1:hover .card-filter {
  opacity: 0.8;
}
/* Client */
.clients_flex {
  display: flex;
  justify-content: space-around;
  padding-top: 72px;
  margin-bottom: 100px;
}
.client_logo {
  width: 255px;
  height: 120px;
}
/* Form */
.form {
  background-color: var(--background-color);
}
.form_flex_content {
  padding: 107px 0 100px 0;
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
}
.title_form_h2 {
  margin-bottom: 40px;
  text-align: center;
  margin-top: -8px;
  margin-bottom: 40px;
}
.text_form_p {
    text-align: center;
    line-height: 26px;
    margin-bottom: 57px;
}
.form input, .form textarea, .form button {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 23px;
}
.form_inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.form_inner input {
  width: 255px;
  height: 50px;
  padding: 18px 20px;
}
.form textarea {
  max-width: 540px;
  width: 100%;
  height: 175px;
  resize: none;
  padding: 16px 20px;
  margin-bottom: 47px;
}
.form button {
  background-color: var(--accent-color);
  letter-spacing: 0.15em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  width: 190px;
  height: 56px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: 0.5s all;
}
.form button:hover {
  opacity: 0.8;
}
.footer {
  background-color: var(--accent-color);
}
.footer_flex {
  padding: 49px 3px 50px 20px;
  display: flex;
  justify-content: space-between;
}
.footer_h3 {
  color: #fff;
  font-size: 21px;
  margin-bottom: 11px;
}
.footer_p {
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.02em;
}
.footer_icon {
  display: flex;
  padding-top: 8px;
}
.footer_icon a {
  margin-left: 21px;
  cursor: pointer;
}




